code/mule-event-demo/src/main/mule/read-query-params-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="read-query-params-demoFlow" doc:id="77227b53-294c-46a7-9090-7b2890bd0579" >
		<http:listener doc:name="Listener" doc:id="40ea784a-ecce-4845-b703-4d78923441c2" config-ref="HTTP_Listener_config" path="read-query-params"/>
		<logger level="INFO" doc:name="Logger" doc:id="2e0dfb61-e994-438f-8947-cf5db8311678" message="#[attributes.queryParams.employeeID]"/>
	</flow>
</mule>
