code/mule-event-demo/src/main/mule/read-uri-params-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="read-uri-params-demoFlow" doc:id="c4e15f11-a797-4dbd-a2b3-74b349daa9ea" >
		<http:listener doc:name="Listener" doc:id="54b02d7d-a09d-401f-893a-c5107202edaa" config-ref="HTTP_Listener_config" path="read-uri-params/{empID}/{empName}/{empStatus}"/>
		<logger level="INFO" doc:name="Logger" doc:id="a6e0fdae-99a5-4dc9-ba53-1b6d00849297" message="#[attributes.uriParams.empID]"/>
	</flow>
</mule>
