code/mule-event-demo/src/main/mule/read-header-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="read-header-demoFlow" doc:id="5994bdac-dd8f-43d8-aee2-7f3089e750f4" >
		<http:listener doc:name="Listener" doc:id="b869b6e3-f89f-4226-acab-46c8193807d2" config-ref="HTTP_Listener_config" path="read-header" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="d964e319-ce77-439d-8c73-f7b0cd12f907" message="#[attributes.headers.transactionID]"/>
	</flow>
</mule>
